<header class="main-content__header flex place-content-between flex justify-between items-center mb-4 px-4 shadow-md py-4">
  <h4>Edit Team</h4>
  <%= link_to("Back to Teams", teams_path, class: 'btn btn-primary') %>
</header>

<div class='px-4'>
  <%= render("form", team: @team) %>
</div>
