<div class="flex flex-wrap my-4 lg:px-4">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="w-full lg:w-3/4 lg:p-4">
    <div class="p-4 bg-white border border-gray-200 rounded-lg lg:p-10">
      <div class="sm:flex items-center justify-between mb-3">
        <h1 class="flex-1 h3">New Team</h1>
        <div>
         <%= link_to("Back to Teams", teams_path, class: 'btn btn-primary') %>
        </div>
      </div>
      <%= render("form", team: @team) %>
    </div>
  </div>
</div>