<div data-controller="modal">
  <% unless @account.owner.present? %>
    <button type="button" class="btn btn-primary opacity-40 cursor-not-allowed" data-controller="tooltip" 
      data-tippy-content="Please add organization admin first to get started by clicking on Invite User button">Import Users</button>
  <% else %>
    <button class="btn btn-primary" data-action="click->modal#open">Import Users</button>
  <% end %>
  <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <div class="max-w-lg max-h-screen w-full relative">
      <div class="m-1 bg-white rounded shadow">
      <header class="bg-gray-50 border-bottom">
        <div class="py-3 px-5">
          <h3>Import Users</h3>
        </div>
      </header>
      <%= form_with(url: url, local: true) do |f| %>
        <div class="py-6 px-4">
          <div class="mb-5">
            <h5 class="mb-2">Instructions</h5>
            <ul class="list-outside pl-5 text-gray-700">
              <li class="mb-2">Fields marked with star are required!</li>
              <li class="mb-2">Follow the labels and sequence of headers: email*, first_name*, last_name*, team_name, role*</li>
              <li class="mb-2">Only .xlsx or .xls files are allowed</li>
              <li class="mb-2">Import process will be done in background</li>
              <li class="mb-2">Once done, we'll update you about the progress on your account email</li>
            </ul>
          </div>
            <div class="form-group">
              <label>Choose File</label>
              <%= f.file_field(:file, class: "form-control", accept: ".xlsx, .xls", required: true) %>
            </div>
          <div class="flex justify-end gap-3  items-center flex-wrap mt-10">
            <button class="btn btn-gray" data-action="click->modal#close">Close</button>
            <button class="btn btn-primary" type="submit">Import</button>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
