<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>
<header class="main-content__header flex place-content-between justify-between items-center mb-4 px-4 shadow-md py-4">
  <h4 class="main-content__page-title">
    <%#= content_for(:title) %>
    Show Organization
  </h4>
  <div class="ml-2">
    <%= link_to("Edit Organization", edit_admin_account_path(page.resource), class: 'btn btn-primary') %>
    <%#= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if accessible_action?(page.resource, :edit) %>

    <%#= link_to(
      t("administrate.actions.destroy"),
      [namespace, page.resource],
      class: "button button--danger",
      method: :delete,
      data: { confirm: t("administrate.actions.confirm") }
    ) if accessible_action?(page.resource, :destroy) %>
  </div>
</header>

<div class="px-4">
  <h3>Organization Name: <%= page.resource.name %></h3>
</div>

<!--
<section class="main-content__body">
  <h2>
    
  </h2>
  <dl>
    <label for="resource_name">Name</label>
    <%# page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%#= attribute.name %>">
      <%#= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: page.resource.class.human_attribute_name(attribute.name),
      ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%#=attribute.html_class%>"
          ><%#= render_field attribute, page: page %></dd>
    <%# end %>
  </dl>
</section>
-->
