
<div class="xl:container mx-auto pt-12 mt-5 px-4">
  <div class="mb-7 font-bold fs-15">
    Tags: <%= @blog.tag_list %>
  </div>
  <div class="text-4xl fw-medium"><%= @blog.title %></div>
  
  <div class="mt-7"><%= @blog.body %></div>
</div>
