<div class="py-9 bg-primary"><h1 class="text-center text-white fs-40 fw-medium">Storybank</h1></div>
<div class="xl:container mx-auto pt-4 px-4">
  <div class="pb-4">
    <p class="font-bold fs-20">Quick Filters</p>
  </div>
  <div class="flex flex-wrap mb-8">
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-2">
      <p class="font-bold fs-20 mb-2">STORY TYPE</p>
      <div class="flex flex-wrap">
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <img src="/star.svg" alt="star" height="24px" width="24px">
            <p class="fs-15">Metaphor</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <img src="/f2.svg" alt="star" height="24px" width="24px">
            <p class="fs-15">Laser Beam</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <img src="/f3.svg" alt="star" height="24px" width="24px">
            <p class="fs-15">Two Roads Story</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <img src="/f4.svg" alt="star" height="24px" width="24px">
            <p class="fs-15">Greenlight Story</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <img src="/f5.svg" alt="star" height="24px" width="24px">
            <p class="fs-15">Magnifier</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <img src="/f6.svg" alt="star" height="24px" width="24px">
            <p class="fs-15">Shrinker</p>
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
      <p class="font-bold fs-20 mb-2">COMMON CHALLENGES</p>
      <div class="flex flex-wrap">
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <div class="red-circle-small"></div>
            <p class="fs-15">Provide Clarity</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <div class="red-circle-small"></div>
            <p class="fs-15">Shift Perception</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <div class="red-circle-small"></div>
            <p class="fs-15">Share Client Success</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <div class="red-circle-small"></div>
            <p class="fs-15">Frame a situation</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <div class="red-circle-small"></div>
            <p class="fs-15">Introduce solution</p>
          </div>
        </div>
        <div class="story-type mr-2 mb-2">
          <div class="flex items-center gap-2">
            <div class="red-circle-small"></div>
            <p class="fs-15">Team identity</p>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
  <div class="flex gap-8 flex-wrap items-center mb-2 mt-15">
    <div class="flex items-center gap-8">
      <div>
        <p class="fs-15 font-bold"><i class="fa-solid fa-arrow-down-short-wide mr-1"></i> Filter</p>
      </div>
      <div>
        <p class="fs-15 font-bold"><i class="fa-regular fa-rectangle-list mr-1"></i> Group</p>
      </div>
      <div>
        <p class="fs-15 font-bold"><i class="fa-solid fa-arrow-up-z-a mr-1"></i> Sort</p>
      </div>
    </div>
    <div class="flex-grow">
      <input type="search" class="form-control rounded-md bg-F5F5F5 border-0 rounded-full" placeholder="Search" />
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="new-design-table">
      <thead>
        <tr>
          <th>Story Creator</th>
          <th>Story Type</th>
          <th>Communication Challenge</th>
          <th width="25%">Original Story</th>
          <th>Organization</th>
          <th></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="flex items-center gap-2 small-screen">
            <div class="circle-72"></div>
            <div>
              <p class="fs-15 font-bold">
                Marie Gonzalez
              </p>
              <p class="fs-15 italic"> Head of Sales</p>
            </div>
           
          </td>
          <td>
            <div class="flex items-center gap-2 small-screen">
              <img src="/star.svg" alt="star">
              <p class="fs-20">Metaphor</p>
            </div>
          </td>
          <td>
            <div class="flex items-center gap-2 small-screen">
              <div class="red-circle"></div>
              <p class="fs-20 mb-1">Provide Clarity</p>
            </div>
          </td>
          <td>
            <div class="small-screen">
            <p class="fs-20">Lorem ipsum dolor sit amet elit, tempor incididunt ut labore et dolore magna aliqua... </p>
          </div>
          </td>
          <td>
            <div class="small-screen">
              <p class="fs-20">Google</p>
              <p class="fs-20 italic">Cloud Team</p>
            </div>
          </td>
          <td class="text-center">
            <div class="small-screen">
              <a href="" class="font-bold fs-15">SEE EXAMPLE ></a>
            </div>
            
          </td>
         
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-2">
            <div class="circle-72"></div>
            <div>
              <p class="fs-15 font-bold">
                Marie Gonzalez
              </p>
              <p class="fs-15 italic"> Head of Sales</p>
            </div>
           
          </td>
          <td>
            <div class="flex items-center gap-2">
              <img src="/star.svg" alt="star">
              <p class="fs-20">Metaphor</p>
            </div>
          </td>
          <td>
            <div class="flex items-center gap-2">
              <div class="red-circle"></div>
              <p class="fs-20 mb-1">Provide Clarity</p>
            </div>
          </td>
          <td>
            <p class="fs-20">Lorem ipsum dolor sit amet elit, tempor incididunt ut labore et dolore magna aliqua... </p>
          </td>
          <td>
            <div class="">
              <p class="fs-20">Google</p>
              <p class="fs-20 italic">Cloud Team</p>
            </div>
          </td>
          <td class="text-center">
            <a href="" class="font-bold fs-15">SEE EXAMPLE ></a>
          </td>
         
        </tr>
        <tr>
          <td>
            <div class="flex items-center gap-2">
            <div class="circle-72"></div>
            <div>
              <p class="fs-15 font-bold">
                Marie Gonzalez
              </p>
              <p class="fs-15 italic"> Head of Sales</p>
            </div>
           
          </td>
          <td>
            <div class="flex items-center gap-2">
              <img src="/star.svg" alt="star">
              <p class="fs-20">Metaphor</p>
            </div>
          </td>
          <td>
            <div class="flex items-center gap-2">
              <div class="red-circle"></div>
              <p class="fs-20 mb-1">Provide Clarity</p>
            </div>
          </td>
          <td>
            <p class="fs-20">Lorem ipsum dolor sit amet elit, tempor incididunt ut labore et dolore magna aliqua... </p>
          </td>
          <td>
            <div class="">
              <p class="fs-20">Google</p>
              <p class="fs-20 italic">Cloud Team</p>
            </div>
          </td>
          <td class="text-center">
            <a href="" class="font-bold fs-15">SEE EXAMPLE ></a>
          </td>
         
        </tr>
        
      </tbody>
    </table>
  </div>
 
</div>
