<%= render 'shared/builder_nav'%>
<div class="py-8 bg-primary">
	<h1 class="text-center text-white fs-40 fw-medium">Story Builders</h1></div>
<div class="xl:container mx-auto px-4">
	<div class="grid lg:grid-cols-3 grid-cols-1 large-gap mb-8">
		<div class="col-span-2 mt-5">
			<div class="flex gap-2 items-center justify-between mb-3 flex-wrap">
			<p class="fs-30">Review your story and tweak the format.</p>
			<a href="#" class="btn btn-gray">Publish Story</a>
			</div>
			<p class="fs-20 mb-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			<div class="border p-5 shadow-box-card large-height">
			<p class="fs-30 mb-3">Katy’s Product Greenlight Story</p>
     <div class="mb-5">
      <form>
       <div class="flex gap-2 md:max-w-xl">
        <select>
          <option>Long Form STORY</option>
          <option>Long Form STORY</option>
          <option>Long Form STORY</option>
        </select>
         <select>
          <option>Long Form STORY</option>
          <option>Long Form STORY</option>
          <option>Long Form STORY</option>
        </select>
        </div>
      </form>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem</p>
			</div>
			<a href="" class="btn btn-primary mt-4 mb-5">Create another Metaphor</a>
		</div>
		<div class="md:px-4 mt-5 md:mt-0">
			<div class="sidebar">
				<div class="p-4">
					<p class="fs-30">My Stories</p>
				</div>
				<div class="bg-F5F5F5 p-4 mb-3">
					<p class="fs-20 font-bold mb-4">Metaphor for Sales Team
						<p class="fs-20 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...</p> <a href="" class="font-bold fs-15">VIEW ></a> </p>
				</div>
				<div class="bg-F5F5F5 p-4 mb-3">
					<p class="fs-20 font-bold mb-4">Metaphor for Sales Team
						<p class="fs-20 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...</p> <a href="" class="font-bold fs-15">VIEW ></a> </p>
				</div>
				<div class="bg-F5F5F5 p-4 mb-3">
					<p class="fs-20 font-bold mb-4">Metaphor for Sales Team
						<p class="fs-20 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...</p> <a href="" class="font-bold fs-15">VIEW ></a> </p>
				</div>
        <div class="text-center py-3">
          <a href="" class="btn btn-primary">See All My Stories</a>
        </a>
			</div>
		</div>
	</div>
</div>