<div style="text-align: center;">
  <h1 style="font-weight:400;line-height: 1.25;">
    Bulk Import process is done!
  </h1>
  
  <p style="margin-bottom:2rem;">
    Please view the Account Invitations section against your organization to see new users appear!
  </p>
</div>