<header class="main-content__header flex place-content-between justify-between items-center mb-4 px-4 shadow-md py-4">
  <h4>New Question</h4>
  <%= link_to("Back to Questions", admin_questions_path, class: 'btn btn-primary') %>
</header>
<div class="px-4">
  <%= render(partial: "form", locals: {question: @question, url: admin_questions_path}) %>
</div>
