<div class="p-3 mt-3 border border-gray-200 rounded-lg">
  <h5>My Stories</h5>
  <% @my_stories.each do |story| %>
    <div class="p-3 mt-3 border border-gray-200 bg-gray-100 rounded-sm">
      <div class="font-semibold"><%= story.title %></div>
      <p>Final highlights will come here..</p>
      <a href="#" class="inline-block font-semibold mt-4">View</a>
    </div>
  <% end %>
</div>