<p class="fs-20" style="display: none;">
  Questions 
  <span class="font-normal">
    <span id="questionNumber" data-questionnaires-target="questionNumber">1</span>/
    <span id="questionsCount" data-questionnaires-target="questionsCount" data-active-positions="<%= active_positions %>"><%= questions_count %></span>
  </span>
</p>