<p class="fs-20">
  Questions 
  <span class="font-normal">
    <span id="questionNumber" data-questionnaires-target="questionNumber">1</span>/
    <span id="questionsCount" data-questionnaires-target="questionsCount" data-active-positions="<%= active_positions %>"><%= questions_count %></span>
  </span>
</p>

<p id="questionContainer" class="fs-20 mb-4" data-id=<%= question.id %> data-questionnaires-target="questionContainer">
  <%= question.title %>
</p>