<h5 class="mt-8 fs-30">Already know what kind of story you want to build?</h5>
<div class="mt-2 fs-20 mb-4">Select the builder you'd like to use below</div>
<div class="flex flex-wrap gap-2">
  <div class="story-build-card mr-2 mb-2">
    <p class="fs-20 font-bold mb-2">Fichteen's Curve</p>
    <button class="fs-15 font-bold uppercase">Start Building ></button>
  </div>
</div>