<h5 class="mt-8">Already know what kind of story you want to build?</h5>
<div class="mt-2">Select the builder you'd like to use below</div>
<div class="flex flex-wrap gap-4 mt-5">
  <div class="border p-4 flex items-start flex-col justify-between gap-4 rounded-lg w-full sm:w-1/2">
    <h4 class="">Fichteen's Curve</h4>
    <button class="btn btn-primary btn-small">Start Building ></button>
  </div>
</div>