<h1>Industries#edit</h1>

<%= render(partial: "form", locals: {industry: @industry, url: account_industry_path(@industry, account_id: current_account.id)}) %>

<%= link_to("Back to Industries", account_industries_path(account_id: current_account.id)) %>
<%= link_to("Back to Industry", account_industry_path(@industry, account_id: current_account.id)) %>