body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  font-family: 'Lato', sans-serif;
}
.main {
  flex: 1;
}

a {
  @apply text-primary;

  &:hover,
  &:focus {
    @apply text-primary;
    outline: 0px;
    transform: none;
  }
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}

.table {
  @apply w-full;
  th, td {
    @apply align-top;
  }

}

.table-responsive {
  @apply block w-full overflow-x-auto;
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}
