/* Light Jumpstart theme for Pagy's default renderer */

.pagination {
  @apply flex flex-wrap items-center justify-end mb-5;

  .page {
    &:first-child a, &:first-child {
      @apply rounded-tl rounded-bl;
    }

    &:last-child a, &:last-child {
      @apply rounded-tr rounded-br;
    }
  }

  .disabled, .gap {
    @apply border relative block leading-tight bg-white text-gray-500 no-underline py-2 px-3;
    @apply dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600;
    margin-left: -1px;
  }

  .page {
    &.active {
      @apply border text-white relative block leading-tight no-underline py-2 px-3;
      margin-left: -1px;
      background-color: #021642;
      border-color: #021642;
    }

    a {
      @apply border relative block leading-tight bg-white no-underline py-2 px-3;
      margin-left: -1px;
      color: #021642;

      &:hover {
        @apply bg-gray-200 dark:bg-gray-700;
      }
    }
  }
}
