<h1>New Builder</h1>
<%= link_to("Back to Builders", admin_story_builders_path, class: "") %>

<%= render(partial: "form", locals: { story_builder: @story_builder, url: admin_story_builders_path }) %>