<header class="main-content__header flex place-content-between justify-between items-center mb-4 px-4 shadow-md py-4">
  <h4>Edit Blog</h4>
  <%= link_to("Back to Blogs", admin_blogs_path, class: 'btn btn-primary') %>
</header>

<div class='px-4'>
  <%= render(partial: "form", locals: { blog: @blog, url: admin_blog_path(@blog), selectable_accounts: @selectable_accounts, joined_tag_list: @joined_tag_list, joined_shared_account_ids: @joined_shared_account_ids }) %>
</div>
